* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('../fonts/Rubik/Rubik-Light.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubik/Rubik-Regular.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/Rubik/Rubik-Bold.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  format: 'true-type';
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  format: 'true-type';
}

/* Base Styles */
body {
  background: hsl(0, 12%, 97%);
}

h1 {
  font-family: 'Roboto-Thin';
  font-size: 4rem;
}

h2 {
  font-family: 'Rubik-Regular';
}

h3 {
  font-family: 'Rubik-Regular';
}

h4 {
  font-family: 'Roboto-Regular';
  margin-top: 1rem;
}

a {
  font-family: 'Roboto-Regular';
}

p {
  font-family: 'Rubik-Regular';
}

ul {
  font-family: 'Rubik-Regular';
  line-height: 1.5rem;
}

.flex {
  display: flex;
}

nav .hamburger {
  display: none;
}

nav {
  display: flex;
  height: 3rem;
  width: 90%;
}

nav h1 {
  width: 100%;
}

nav ul {
  display: flex;
  padding: 1rem 0 1rem 35rem;
}

nav li {
  list-style-type: none;
}

nav a {
  margin-left: 2rem;
  padding: 0.5rem;
  text-decoration: none;
  color: hsl(0, 0%, 11%);
}

nav a:hover {
  background: hsl(0, 0%, 11%);
  color: hsl(0, 0%, 96%);
  transition: all 500ms ease;
}

/* Header */
header {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/organic-1280537_1920-min.jpg');
  background-size: cover;
  background-position: center;
}

header .flex {
  flex-direction: column;
}

.header-text {
  padding: 2rem 0 0 2rem;
}

.about {
  height: 15rem;
  width: 45%;
  margin: 2rem;
}

header h1 {
  color: hsl(13, 45%, 86%);
  padding: 0.5em 0 0 0.5em;
}

header h3 {
  font-size: 1.5rem;
  color: hsl(13, 45%, 86%);
  padding-left: 1.5em;
}

header p {
  font-family: 'Rubik-Regular';
  color: hsl(13, 45%, 86%);
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

.projects .flex {
  display: flex;
  flex-direction: column;
}

.projects h2 {
  margin: 2rem auto;
  text-align: center;
}

.projects p {
  font-size: 1.1rem;
  line-height: 2rem;
  width: 55%;
  margin: 2rem auto;
  text-align: center;
}

.portfolio-button {
  width: 35%;
  padding: 0.5rem 1rem;
  border: 2px solid hsl(13, 45%, 86%);
  background: none;
  margin-top: 1rem;
}

.portfolio-button:hover {
  background: hsl(12, 77%, 54%);
  border-color: hsl(12, 77%, 54%);
  transition: all 500ms ease;
}

.portfolio-button a {
  font-size: 1rem;
  text-decoration: none;
  color: hsl(13, 45%, 86%);
}

.portfolio-button a:hover {
  color: hsl(0, 0%, 96%);
  transition: all 500ms ease;
}

/* Project Header Buttons */
.arch-studio-live-website-button,
.arch-studio-github-button,
.insure-live-website-button,
.insure-github-button,
.clipboard-live-website-button,
.clipboard-github-button,
.fylo-live-website-button,
.fylo-github-button,
.loop-studios-live-website-button,
.loop-studios-github-button {
  width: 15%;
  padding: 0.5rem 1rem;
  border: 2px solid hsl(13, 45%, 86%);
  background: none;
  margin: 2rem 0 0 2rem;
}

.arch-studio-live-website-button:hover,
.arch-studio-github-button:hover,
.insure-live-website-button:hover,
.insure-github-button:hover,
.clipboard-live-website-button:hover,
.clipboard-github-button:hover,
.fylo-live-website-button:hover,
.fylo-github-button:hover,
.loop-studios-live-website-button:hover,
.loop-studios-github-button:hover {
  background: hsl(12, 77%, 54%);
  border-color: hsl(12, 77%, 54%);
  transition: all 500ms ease;
}

.arch-studio-live-website-button a,
.arch-studio-github-button a,
.insure-live-website-button a,
.insure-github-button a,
.clipboard-live-website-button a,
.clipboard-github-button a,
.fylo-live-website-button a,
.fylo-github-button a,
.loop-studios-live-website-button a,
.loop-studios-github-button a {
  font-size: 1rem;
  text-decoration: none;
  color: hsl(13, 45%, 86%);
}

.arch-studio-live-website-button a:hover,
.arch-studio-github-button a:hover,
.insure-live-website-button a:hover,
.insure-github-button a:hover,
.clipboard-live-website-button a:hover,
.clipboard-github-button a:hover,
.fylo-live-website-button a:hover,
.fylo-github-button a:hover,
.loop-studios-live-website-button a:hover,
.loop-studios-github-button a:hover {
  color: hsl(0, 0%, 96%);
  transition: all 500ms ease;
}

.project-button {
  width: 20%;
  padding: 0.5rem 1rem;
  border: 2px solid hsl(0, 0%, 11%);
  background: none;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.project-button:hover {
  background: hsl(0, 0%, 11%);
  border-color: hsl(0, 0%, 11%);
  transition: all 500ms ease;
}

.project-button a {
  font-size: 1rem;
  text-decoration: none;
  color: hsl(0, 0%, 11%);
}

.project-button a:hover {
  color: hsl(0, 0%, 96%);
  transition: all 500ms ease;
}

/* Projects */
.project-list {
  flex-direction: column;
}

.container .projects h2 {
  color: hsl(0, 0%, 11%);
  width: 35%;
  margin: 3rem 33rem;
}

.project-heading {
  color: hsl(13, 77%, 71%);
  margin: 0.5rem 0 0 2rem;
  font-size: 2rem;
}

.project-list h3 {
  text-align: center;
}

.project-list p {
  font-size: 1.15rem;
  color: hsl(0, 0%, 11%);
  width: 40%;
  margin: 1rem auto;
  line-height: 2rem;
  letter-spacing: 0.015rem;
}

.project-describe-1,
.project-describe-2,
.project-describe-3,
.project-describe-4,
.project-describe-5 {
  display: flex;
  flex-direction: column;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.project-screenshot-1 {
  background: url('../images/ClipboardThumbnailOptimized.jpg') no-repeat center
    center/cover;
  height: 15rem;
  width: 18%;
  margin: 2em auto;
}

.project-screenshot-2 {
  background: url('../images/LoopstudiosThumbnailOptimized.jpg') no-repeat
    center center/cover;
  height: 15rem;
  width: 18%;
  margin: 2em auto;
}

.project-screenshot-3 {
  background: url('../images/FyloDarkThumbnailOptimized.jpg') no-repeat center
    center/cover;
  height: 15rem;
  width: 18%;
  margin: 2em auto;
}

.project-screenshot-4 {
  background: url('../images/InsureDesktop.png') no-repeat center center/cover;
  height: 15rem;
  width: 18%;
  margin: 2em auto;
}

.project-screenshot-5 {
  background: url('../images/ArchStudioLandingPageOpt.jpg') no-repeat center
    center/cover;
  height: 15rem;
  width: 18%;
  margin: 2em auto;
}

.show a:hover {
  cursor: pointer;
  color: #fff;
  transition-duration: 1s;
}

/* Images */
.images {
  display: flex;
}

.arch-studio-project-image-1 {
  background: url('../images/ArchStudioLandingPage.png') no-repeat top
    center/cover;
  height: 55rem;
  width: 50%;
  margin: 4em auto;
}

.arch-studio-project-image-2 {
  background: url('../images/ArchStudioPortfolioPage-Mobile.png') no-repeat
    center center/cover;
  height: 55rem;
  width: 20%;
  margin: 4em auto;
}

.insure-project-image-1 {
  background: url('../images/InsureDesktop.png') no-repeat center center/cover;
  height: 75rem;
  width: 60%;
  margin: 4em auto;
}

.fylo-project-image {
  background: url('../images/FyloDarkThumbnailOptimized.jpg') no-repeat center
    center/cover;
  height: 55rem;
  width: 50%;
  margin: 4em auto;
}

.loop-studios-project-image {
  background: url('../images/LoopstudiosThumbnailOptimized.jpg') no-repeat
    center center/cover;
  height: 85rem;
  width: 60%;
  margin: 4em auto;
}

.clipboard-image {
  background: url('../images/ClipboardThumbnailOptimized.jpg') no-repeat center
    center/cover;
  height: 55rem;
  width: 50%;
  margin: 4em auto;
}

/* Project Descriptions */
.arch-studio-project-describe,
.insure-project-describe,
.fylo-project-describe,
.loop-studios-project-describe,
.clipboard-project-describe {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.loop-studios-project-describe ol {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik-Regular';
  font-size: 1.05rem;
  width: 60%;
  margin: 0 auto;
}

.arch-studio-project-describe p,
.insure-project-describe p,
.fylo-project-describe p,
.loop-studios-project-describe p,
.clipboard-project-describe p {
  width: 100%;
  text-align: left;
}

.loop-studios-project-describe p {
  width: 100%;
  text-align: left;
}

/* Footer */
footer {
  height: 15vh;
  background: hsl(0, 0%, 11%);
  margin-top: 3rem;
}

.contact-info {
  display: flex;
  color: hsl(13, 45%, 86%);
}

.contact-info h3 {
  margin: 2rem 5rem;
}

/* Attribution */
.attribution {
  text-align: center;
}
